<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Data_Access.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Data_Access.Settings1>
            <setting name="db_conexion" serializeAs="String">
                <value>Data Source=.;Initial Catalog=ProyectoDistribuidas;Integrated Security=True;Encrypt=False</value>
            </setting>
        </Data_Access.Settings1>
    </applicationSettings>
</configuration>