<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!-- Permite recibir archivos enormes -->
    <httpRuntime maxRequestLength="2097151" targetFramework="4.8" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <!-- Permite hasta 2 GB -->
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.serviceModel>

    <!-- CONFIGURAMOS UN BINDING GRANDE -->
    <bindings>
      <basicHttpBinding>
        <binding name="LargeBinding"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 transferMode="Buffered"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00"
                 sendTimeout="00:01:00"
                 receiveTimeout="00:01:00">

          <readerQuotas
              maxDepth="2147483647"
              maxStringContentLength="2147483647"
              maxArrayLength="2147483647"
              maxBytesPerRead="2147483647"
              maxNameTableCharCount="2147483647" />

        </binding>
      </basicHttpBinding>
    </bindings>

    <!-- APLICAMOS ESE BINDING A TU SERVICIO -->
    <services>
      <service name="WCF_Services_Proyect.Service1">
        <endpoint
          address=""
          binding="basicHttpBinding"
          bindingConfiguration="LargeBinding"
          contract="WCF_Services_Proyect.IService1" />

        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment
        aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

</configuration>
